.content {
    figure {
        width: 100%;
        height: 300px;
        background: gray;

    }

    >.inner {
        width: 1180px;
        min-height: 400px;
        margin: 100px auto;
        position: relative;
    }
}